@import "colors";
@import "fonts";

body {
	background-color: $background;
	font: 100% $font-stack;
	font-size: 1.5em;
}


.songsList {
	margin-right: 5%;
	margin-left: 5%;

	.songRow {
		// marginp-top: 10px;
	}
}