<div class="textSearch">
  <input type="text" name="" placeholder="Search for ....." ng-model="searchText">
</div>

<div class="panel panel-default songsList">
  <div class="panel-heading">{{user.username}}'s Songs</div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Artist</th>
          <th>Album</th>
          <th>Song</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr class="songRow" ng-repeat="song in songs | filter: searchText">
          <th scope="row"></th>
          <td>{{song.artist}}</td>
          <td>{{song.album}}</td>
          <td><a ng-href="#!/song/edit/{{song.id}}">{{song.song}}</a></td>
          <td>{{song.genre}}</td>
          <td>
          <a ng-href="#!/song/edit/{{song.id}}"><button class="btn btn-xs fa fa fa-pencil pull-right""></button></a></td>
          <td>
          <button class="btn btn-xs fa fa-trash-o pull-right" ng-click="deleteSong(song.id)"></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<!-- <div ng-repeat="item in items | filter:{isCompleted:false} | filter: searchText"> -->